

.room-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: center;
}
.contact-info{
    min-width: 80%;
  
    background-color: rgb(192, 212, 193);
    border: 1px solid #ffff;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:0 10px;

}
.contact-info span{
    color: #333;
    font-size: large;
}
.cyrcle-info{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: lightgray;

}
.contact-container{
    width: 28%;
    background-color: rgb(192, 212, 193);
}